.clusters
  margin-top 30px

  &__title
    font-size 14px
    line-height 1.57

  &__select
    margin-top 15px

  &__switcher
    display flex
    cursor pointer
    margin-top 15px

    &__item
      text-align center
      flex-grow 1
      margin-left -1px
      height 27px
      font-size 12px
      line-height 14px
      color #333333
      border solid 1px #aebbc9
      transition border-color .25s, z-index .25s
      padding 5px 0

      &_selected
        color #262626
        border-color #315ffb
        z-index 2
