.aside

  &__fieldset
    position relative
    margin 0 0 30px
    padding 0
    border none
    outline none

  &__label
    display block
    padding-bottom 10px
    font-size 14px
    font-weight 500
    line-height 22px
