@require '../../../assets/shared/@media'

.aside
  position relative
  max-width 420px
  min-width 200px
  flex-basis 39%
  flex-grow 1
  margin 0
  padding 15px 20px
  border-right 50px solid #edf0f3
  +media('medium')
    flex-basis 42%
    padding 25px 40px
    border-right none
  background-color #f9fafb
  border-left 1px solid #edf0f3
