.editor

  &__header
    position relative
    padding 0 0 25px

  &__subject
    display block
    width 100%
    margin 0
    padding 0
    border none
    outline none
    resize none
    overflow hidden

  &__counter
    position absolute
    top -15px
    left 0
    font-size 10px
    color #8d96b2
    transition color .25s, opacity .25s
    visibility hidden
    opacity 0

    &_on
      visibility visible
      opacity 1

    &_warn
      color #ff9700

    &_limit
      color #f85656
