.video_toolbar
  background-color #ffffff
  margin-top 20px
  height 44px
  display flex
  align-items center

  &__menu
    width 30px
    height 30px
    cursor pointer
    border-radius 50px
    border 1px solid #ebedf4
    margin-left auto

    &:active
      background-color #f6f7fa
      border-color #f6f7fa

  &__icon
    width 44px
    height 44px

.popup_wrapper
  bottom -195px
  right -5px
