.time
  width 242px
  padding 20px
  display flex
  flex-direction column

  &__container
    padding 20px
    display flex
    flex-direction column

  &__title
    font-size 14px
    line-height 1.57
    margin-bottom 5px

  &__item
    margin-bottom 15px
